.card {
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.none {
  margin: 0;
}

.sm {
  margin: 0.5rem;
}

.md {
  margin: 1rem;
}

.lg {
  margin: 1.5rem;
}
