.typography {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem 0;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.start {
  text-align: left;
}

.end {
  text-align: right;
}

.text {
  font-size: 1rem;
  margin: 0;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.5rem;
}
